.wrapper {
  background: black;
  color: #fff;
  background: url('./background.jpg');
  background-size: cover;
}

.container {

}

.logo {
  display: block;
}

@media (min-width: 768px) {
    .wrapper {
      height: 70vh;
    }
    .logo {
      display: none;
    }
}
