:root {
  --circB: 15px;
  --circS: 5px;
  --h: 60px;
}

.wrapper {
  margin: 25px 0;
  height: var(--h);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  cursor: pointer;
}

.box {
  width: 30%;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #FD40DF 0%, #F0AA18 100%);
  border-image-slice: 1;
}

.inner {
  position: relative;
  bottom: calc( - var(--h) / 10);
  border-image: linear-gradient(to bottom right, #FD40DF 0%, #F0AA18 100%);
  border-image-slice: 1;
}

.inner::after {
  content: '';
  position: absolute;
  margin: auto;
  left: 65%;
  width: calc(var(--h) / 1.4);
  height: calc(var(--h) / 1.4);
  transform: rotate(135deg);
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #FD40DF 0%, #F0AA18 100%);
  border-image-slice: 1;
}

.circs, .circActive {
  margin: 15px auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.circB, .circS {
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  right: 16px;
}

.circB {
  width: var(--circB);
  height: var(--circB);
}

.circS {
  width: var(--circS);
  height: var(--circS);
  position: relative;
  transition: 0.5s ease-in-out;
}

.circS:nth-child(2) {
  top: 2.5px;
}

.circS:nth-child(4) {
  bottom: 2.5px;
}

.wrapper:hover .circS:nth-child(1), .circActive .circS:nth-child(1) {
  transform: rotate(-45deg) translateX(-15px) rotate(45deg);
}

.wrapper:hover .circS:nth-child(3), .circActive .circS:nth-child(3) {
  transform: rotate(-45deg) translateX(15px) rotate(45deg);
}

.text {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 65%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.active {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-image: linear-gradient(to bottom right, #FD40DF 0%, #F0AA18 100%);
}

.detail {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 5%;
}
