:root {
  --menu: 256px;
}

.wrapper {
  z-index: 99;
  width: 1px;
  display: none;
}

.left, .right {
  position: fixed;
  top: 40px;
  width: 18px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.right {
  right: 8px;
}

.d1, .d2, .d3 {
  position: relative;
  width: 1px;
  background-image: linear-gradient(to bottom right, #FD40DF 30%, #F0AA18 100%);
}

.d1 {
  height: 50vh;
  top: 0;
}

.d2 {
  height: 35vh;
  top: 7.5vh;
}

.d3 {
  height: 25vh;
  top: 12.5vh;
}

@media (min-width: 768px) {
    .wrapper {
      display: block;
    }
    .left {
      left: calc(var(--menu) - var(--menu)/4 + 22px);
    }
}
