.wrapper {
  width: 70%;
  height: 40px;
  margin: 2vh 0 15vh;
}

.wrapper input {
  margin: 0 auto;
  border-bottom: 0.5px solid white;
  margin-bottom: 15px;
  width: 100%;
}

.wrapper:hover {
  opacity: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 0.8em;
  background-image: linear-gradient(to bottom right, #FD40DF 0%, #F0AA18 100%);
  border-radius: 25px;
  opacity: 0.85;
  cursor: pointer;

}
