.wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 99;
}

.border {
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #FD40DF 0%, #F0AA18 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #FD40DF 0%, #F0AA18 100%);
  border-image: linear-gradient(to bottom right, #FD40DF 0%, #F0AA18 100%);
  border-image-slice: 1;
  margin: 2.5%;
  width: 95%;
  height: 95%;
}

.info {
  position: relative;
  top: -50%;
  background: rgba(0,0,0,0.5);
  width: 95%;
  padding: 5px 8px;
}

@media (min-width: 640px) {
  .wrapper {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .info {
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.25);
    background: white;
    width: 80%;
    top: -40%;
  }

  .info:nth-child(2) {
    line-height: 10px;
  }

  .info span {
    text-transform: uppercase;
    font-size: 0.8em;
    padding-bottom: 10px;
  }

  .wrapper {
    width: 30%;
  }
}
